@charset "UTF-8";
@font-face {
  /*나눔바른고딕 */
  font-family: "nbg";
  src: url(/src/font/NanumBarunGothic.ttf);
}

@font-face {
  /*나눔바른고딕 Bold*/
  font-family: "nbgB";
  src: url(/src/font/NanumBarunGothicBold.ttf);
}

@font-face {
  /*나눔바른고딕 light*/
  font-family: "nbgL";
  src: url(/src/font/NanumBarunGothicLight.ttf);
}

/* util */
.hide {
  overflow: hidden;
  display: block;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.skip-navigation {
  position: relative;
  z-index: 9999;
}
.skip-navigation a {
  position: absolute;
  top: -200px;
  left: 0;
  width: 100%;
  line-height: 30px;
  border: 1px solid #dedede;
  background-color: #333;
}
.skip-navigation a:focus,
.skip-navigation a:active {
  top: 0;
}

/* style */

html {
  font-size: 20px;
  font-family: "nbg";
}

body {
  height: 100%;
  font-size: 1rem;
}

header {
  background-color: #f6f5ef;
  position: fixed;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 10;
  border-bottom: 1px solid #ddd;
  color: #444444;
}

header .cont-header {
  margin: 0 auto;
  width: 54.5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.cont-header .lists-gnb,
.cont-header .util {
  font-size: 0.65rem;
}

.cont-header .logo {
  padding: 1.1rem 0;
}

.cont-header .lists-gnb {
  display: flex;
  width: 100%;
  align-items: center;
  color: #333;
  padding-top: 2.4rem;
}
.cont-header .lists-gnb li a {
  display: block;
  padding: 0.5rem 1.25rem;
  line-height: 1.5rem;
  height: 2.5rem;
}
.cont-header .lists-gnb li:hover {
  background-color: #2c2a29;
}
.cont-header .lists-gnb li a:hover {
  color: #669900;
  text-decoration: underline;
}
/* 소메뉴 */
.cont-header .lists-gnb li .snb {
  display: none;
}

.cont-header .util {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  color: #555;
}

.cont-header .util li a {
  position: relative;
  display: inline-block;
  padding: 0.75rem;
}
.cont-header .util li ~ li a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 0.65rem;
  background-color: gray;
  opacity: 0.2;
}
.cont-header .util li button {
  width: 1.7rem;
  height: 1.7rem;
  background: url(../../src/img/icon_search.png) no-repeat center #fff;
  border: 1px solid #ddd;
  border-radius: 0.3rem;
  margin-top: 0.35rem;
  cursor: pointer;
}

/* contents */
#main {
  padding: 6rem 0 4rem;
  width: 100%;
}

#main .cont-main {
  margin: 0 auto;
  width: 54.5rem;
}

.cont-main .title-main {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
}
.cont-main .site-map {
  display: flex;
  justify-content: flex-end;
  font-size: 0.6rem;
  margin-bottom: 1.2rem;
}

.cont-main .site-map li {
  margin-right: 5px;
}

.cont-main .cont-sort {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 0.8rem 1.5rem 0 1.5rem;
  border-radius: 0.4rem;
}

.cont-sort .tit-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.1rem;
  border-bottom: 1px solid #ddd;
}
.cont-sort .tit-sort h3 {
  font-size: 18px;
  font-weight: bold;
}
.cont-sort .tit-sort button {
  border: none;
  background: inherit;
  cursor: pointer;
}

.cont-sort .choice-sort {
  font-size: 0.7rem;
  padding: 1.5rem 0;
}
.cont-sort .choice-sort .menu-tab {
  font-size: 0;
}

/* 자바 스크립트 미구현 */
.cont-sort .choice-sort .menu-tab button {
  display: inline-block;
  width: 10rem;
  background-color: #006633;
  border-radius: 0.15rem;
  color: #fff;
  border: none;
  font-size: 0.7rem;
  cursor: pointer;
  padding: 0.5rem 0;
  margin: 0 0.5rem 1rem 0;
}
/* 자바 스크립트 미구현 */
.cont-sort .choice-sort .menu-tab button:nth-child(2) {
  background-color: #fff;
  color: #000;
}

.cont-sort .choice-sort .list-sort {
  display: flex;
  justify-content: space-between;
  color: #3f4141;
}

.cont-sort .choice-sort .list-sort h3 {
  font-weight: bold;
}

.cont-sort .choice-sort .list-sort li input {
  position: relative;
  top: 0.075rem;
}
.cont-sort .choice-sort .list-sort li label {
  cursor: pointer;
}

.cont-main .cont-select {
  float: right;
}

.cont-select .btn-select {
  margin-top: 1.5rem;
  font-family: inherit;
  width: 12.4rem;
  font-size: 0.7rem;
  background-color: #f4f4f2;
  line-height: 2rem;
  text-align: left;
  border-radius: 0.15rem;
  border: 1px solid #ddd;
  color: #444444;
  padding-left: 0.55rem;
  cursor: pointer;
}
.btn-select .fa-chevron-down {
  float: right;
  position: relative;
  top: 0.65rem;
  right: 0.4rem;
  color: #444444;
}
.cont-select .list-select {
  display: none;
  width: 12.4rem;
  border-radius: 0.15rem;
  border: 1px solid #ddd;
  position: absolute;
  z-index: 20;
}
.cont-select .list-select.active {
  display: block;
}
.cont-select .list-select li {
  display: flex;
  align-items: center;
  padding: 3px 0 3px 3px;
}

.cont-select .list-select li label {
  font-size: 0.7rem;
  color: #444444;
  line-height: 1.5rem;
  cursor: pointer;
}
.cont-select .list-select li label img {
  width: 1rem;
  height: 1rem;
  position: relative;
  top: 5px;
}

.cont-main .cont-item {
  margin-top: 4.5rem;
  padding-bottom: 3rem;
}
.cont-item .tit-item {
  font-size: 0.9rem;
  background-color: #f4f4f2;
  padding: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  border-radius: 0.15rem;
}

.cont-item .list-product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cont-item .list-product .item-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cont-item .list-product .item-product a {
  overflow: hidden;
}
.cont-item .list-product .item-product img {
  width: 12.9rem;
  height: 13.45rem;
  transition: all 1.5s;
}
.cont-item .list-product .item-product img:hover {
  transform: scale(1.2);
}
.cont-item .list-product .item-product p {
  font-size: 0.7rem;
  color: #444;
  line-height: 1.5rem;
  text-align: center;
}

#footer {
  background-color: #2c2a29;
  width: 100%;
  text-align: center;
  font-size: 0.6rem;
  margin: 0 auto;
}

#footer .wrapper-footer {
  margin: 0 auto;
  padding: 2.2rem 0;
}
.wrapper-footer .menu-footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 0.6rem;
  margin-bottom: 3.5rem;
}
.menu-footer .list-footer {
  width: 11rem;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.menu-footer .list-footer .tit-list-footer {
  margin-bottom: 0.8rem;
}
.menu-footer .list-footer .tit-list-footer a {
  color: #fff;
  font-size: 0.7rem;
}
.menu-footer .list-footer .link-footer {
  margin-bottom: 0.5rem;
}
.menu-footer .list-footer .link-footer a {
  color: #fff;
}

#footer .list-award {
  font-size: 0;
  width: 100%;
  background-color: #282828;
  padding: 1.2rem 0 1.8rem;
  margin-bottom: 1.5rem;
}

#footer .shorcut-footer .list-shorcut {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.shorcut-footer .list-shorcut a {
  color: #ccc;
  padding: 0.7rem;
}
.shorcut-footer .list-shorcut .tit-shorcut a {
  color: #38ca44;
}

.shorcut-footer .list-shorcut li {
  position: relative;
}

.shorcut-footer .list-shorcut li ~ li a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 0.65rem;
  background-color: #fff;
  opacity: 0.2;
}

#footer .linked-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.linked-footer li a {
  color: #fff;
  font-size: 0.6rem;
  border: 0.1rem solid #fff;
  display: block;
  width: 5.7rem;
  line-height: 1.7rem;
  box-sizing: border-box;
  margin-right: 0.5rem;
  border-radius: 0.15rem;
}

#footer .info-footer .list-info {
  display: flex;
  justify-content: center;
  color: #999;
  margin-bottom: 1.2rem;
}

.info-footer .list-info dt {
  margin-right: 0.2rem;
}
.info-footer .list-info dd {
  margin-right: 0.8rem;
}

#footer small {
  color: #999;
}
